body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    border: 1px solid #007bff;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}

.active {
    background-color: #04aa6d;
}
